.products{
    display: flex;
}
.products, img{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 42px;
    width: 98%;
}
.products, h3{
    margin-left: 5%;
}
.productsdetails{
    background-color: rgb(193, 193, 226);
}
.button{
    margin-left: 50%;
    background-color: rgb(180, 147, 211);
}
